numpy == 1.26.4      # 2.0.0 occurs a error.
tensorflow == 2.10   # If you are not using a GPU or are not using Windows, you do not need to specify the version.
librosa
resampy
pandas
openpyxl
xlwt
matplotlib
japanize_matplotlib
pyyaml
scikit-image
scikit-learn
opencv-python
Pillow
numba
ephem
natsort
levenshtein
onnxruntime         # optional. 
tf2onnx == 1.16.0   # optional. 1.16.1 has a bug.
pydub
mutagen